@import "tailwindcss";

@theme {
  --default-font-family: "Quicksand", "serif";
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll-container {
  display: flex;
  width: max-content;
  gap: 1rem;
}

.scroll-animation {
  animation: scroll 15s linear infinite;
}

.pause-animation {
  animation-play-state: paused;
}

/* * {
  overflow-x: hidden;
} */